body {color: red ;}
form {color: black;}
.letrasnegras{color: black;}
#verde{color: aquamarine;}
.centrar{ text-align: center;}
#centro{text-align: center;}
.negra{font-weight: bold;}
#centros{text-align: center;}